<html>
<head>	
	<title>Registration Login App</title>
	<link rel="stylesheet" href="./css/dist/aui/aui-prototyping.css" media="all">
	<link rel="stylesheet" href="./css/home.css">
	<script src="./css/dist/aui/aui-prototyping.js"></script>
</head>
<body>
	<div class="container">
		<div class="table_heading">
			<div><h4>Users Details</h4></div>
			<div><a href="logout">Logout</a></div>
		</div>
		<div class="table">
			<table class="aui">
				<thead>
					<tr>
						<th id="basic-fname">First Name</th>
						<th id="basic-lname">Last Name</th>
						<th id="basic-number">Phone Number</th>
						<th id="basic-email">Email</th>																		
					</tr>
				</thead>
				<tbody>	
				#foreach($user in $users)
					<tr>
						<td headers="basic-fname">$!user.firstName</td>
						<td headers="basic-lname">$!user.lastName</td>
						<td headers="basic-number">$!user.phoneNumber</td>
						<td headers="basic-email">$!user.emailId</td>						
					</tr>
				#end
				</tbody>		
			</table>
		</div>
	</div>
</body>
</html>